dist/
node_modules/
vendor/
.vscode/
.gh_token
*.min.*
*.code-workspace
*~
docs/GLPI carbon.sql
data/tests
scripts/out.csv
locales/??.po
tests/logs/*
.phpunit.result.cache
.vscode/launch.json
GEMINI.md 
NUMECOEVAL_PRP.md
.idea
/public